* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-dark: rgba(35, 39, 42, 1);
    --discord-lighter: rgba(246, 246, 246, 1);
    --discord-light: rgba(255, 255, 255, 1);
    --discord-font-color: rgba(142, 161, 225, 1);
    --discord-font-footer: rgba(87, 103, 158, 1);
}

/* style container header */
header {
    display: flex;
    justify-content: center;
    background-color: var(--discord-primary);

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

/* Nav style */
.left {
    width: 25%;


}

.center {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80px;
    color: var(--discord-light);
    font-weight: 200;
}

.custom_button {
    text-align: center;
    padding: 6px;
    border-radius: 90px;
    width: 70px;
    background: var(--discord-light);
    border: unset;
    font-family: auto;
    margin-left: 80px
}

/* end style nav */
.jumbo {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: var(--discord-light);
    display: flex;
    justify-content: center;
    height: 320px;

}

.container_flex {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 500px;
    padding: 10px;
    line-height: 1.5;
}

h2 {
    margin-bottom: 10px;
    padding: 30px;
    font-size: 40px;
}

.button_main {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.left_button {
    text-align: center;
    border-radius: 90px;
    background: var(--discord-light);
    border: unset;
    height: 40px;
    padding: 5px;
}

.right_button {
    text-align: center;
    padding: 6px;
    border-radius: 90px;
    background: var(--discord-dark);
    border: unset;
    color: white;

}

/* end style rst section main */
/* style second section of main */
.container_white {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 40px;
}

.container_box1 {
    background-image: url(./img/item1.svg);
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 400px;
}

.container_box2 {
    height: 320px;
    width: 300px;
}

/*  /*  end style second section of main */