* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --discord-primary: rgba(49, 97, 224, 1);
    --discord-dark: rgba(35, 39, 42, 1);
    --discord-lighter: rgba(246, 246, 246, 1);
    --discord-light: rgba(255, 255, 255, 1);
    --discord-font-color: rgba(142, 161, 225, 1);
    --discord-font-footer: rgba(87, 103, 158, 1);
}

/* style container header */
header {
    display: flex;
    justify-content: center;
    background-color: var(--discord-primary);

}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

/* Nav style */
.left {
    width: 25%;


}

.center {
    width: 50%;
}

.center {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 80px;
    color: var(--discord-light);
    font-weight: 200;
}

.custom_button {
    text-align: center;
    padding: 6px;
    border-radius: 90px;
    width: 70px;
    background: var(--discord-light);
    border: unset;
    font-family: auto;
    margin-left: 80px
}

/* end style nav */
.jumbo {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    color: var(--discord-light);
    display: flex;
    justify-content: center;

}


.container_flex {
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 500px;
    padding: 10px;
    line-height: 1.5;
}

.first_title {
    margin-bottom: 10px;
    padding: 30px;
    font-size: 40px;
}

.button_main {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.left_button {
    text-align: center;
    border-radius: 90px;
    background: var(--discord-light);
    border: unset;
    height: 40px;
    padding: 5px;
}

.right_button {
    text-align: center;
    padding: 6px;
    border-radius: 90px;
    background: var(--discord-dark);
    border: unset;
    color: white;

}

/* end style rst section main */
/* style second section of main */
.container_second_section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin: 40px;
}

.container_img {
    background-size: cover;
    background-position: center;

}

.container_box2 {
    height: 320px;
    width: 300px;
}

/*  /*  end style second section of main */


/* third section style */
.container_third_section {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--discord-lighter);
    margin: 40px;

}


h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

/* end of third section style */
/* style fourth section */
.container_fourth_section {
    display: flex;
    justify-content: space-around;
    background-color: var(--discord-light);
}


/*end fourth section  */
.container_end_main {
    display: flex;
    justify-content: center;
    background-color: var(--discord-light);
    margin: 40px;
    flex-direction: column;
    align-items: center;
}

.container_fifth {
    text-align: center;
    text-align: center;
    width: 900px;
    padding: 15px;
}

.custom_text {
    text-align: center;
    width: 50%;
    line-height: 1;
}

h3 {
    font-size: 20px;
}

.style_button {
    text-align: center;
    border-radius: 90px;
    background: var(--discord-font-color);
    border: unset;
    height: 40px;
    padding: 5px;
    color: var(--discord-light);
    margin: 30px;

}

/* end style of maine */
/* style footer */
.container_footer {
    display: flex;
    justify-content: center;
    background-color: rgba(35, 39, 42, 1);
    height: 400px;
}

.container_with_logo {
    width: 250px;
    height: 300px;
    align-self: center;
    color: var(--discord-font-footer);
}

.container_box_information {
    margin: 50px;
    line-height: 1.5;
}

h5 {
    color: var(--discord-font-footer);
}

hr {
    margin: 0;
}

.contenitore_logo {
    display: flex;
    justify-content: space-around;

}

.item_footer {
    padding: 0;
    list-style-type: none;
}

.logo {

    border: dotted;
}